# Trabalha com variáveis
Nome dado para algum valor especifico:

SE precisarmos registrar a quantidade de vendas do mês de determinada empresa, e depois calcular o faturamento total.

In [2]:
qte_vendida = 21500

print(qte_vendida)

21500

In [3]:
qte_vendida = 9500

print(qte_vendida)

9500

In [4]:
qte_vendida

9500

In [7]:
nome = "Hiram"
print(nome)
print(qte_vendida)

Hiram
9500

In [10]:
print ("Hiram vendeu ", qte_vendida, "este mês")

Hiram vendeu  9500 este mês

# Erro com variáveis
célula não executada

In [ ]:
receita = 2500
custo = 100

In [11]:
lucro = faturamento - custo
print(lucro)

NameError: name 'faturamento' is not defined

In [15]:
receita = 2500
custo = 2900

In [17]:
lucro = receita-custo
print(lucro)

-400

# Pegando informações do usuário
usando o input e armazenando na memoria

In [ ]:
nome = input(" Qual o nome de sua escola?")
print(nome)