# Trabalha com variáveis
Nome dado para algum valor especifico:

SE precisarmos registrar a quantidade de vendas do mês de determinada empresa, e depois calcular o faturamento total.

In [1]:
qte_vendida = 21500

print(qte_vendida)

21500

In [2]:
qte_vendida = 9500

print(qte_vendida)

9500

In [3]:
qte_vendida

9500

In [4]:
nome = "Hiram"
print(nome)
print(qte_vendida)

Hiram
9500

In [5]:
print ("Hiram vendeu ", qte_vendida, "este mês")

Hiram vendeu  9500 este mês

# Erro com variáveis
célula não executada

In [6]:
receita = 2500
custo = 100

In [7]:
lucro = receita - custo
print(lucro)

2400

In [10]:
receita = 12500
custo = 2900

In [11]:
lucro = receita-custo
print(lucro)

9600

# Pegando informações do usuário
usando o input e armazenando na memoria

In [12]:
nome = input(" Qual o nome de sua escola?")
print(nome)

 Qual o nome de sua escola?CETAM
CETAM

In [23]:
nome = input("Digite o seu primeiro nome? ")
sobrenome = input("qual o seu sobrenome? ")

print("seu nome completo é " + nome  + ' ' +  sobrenome)

Digite o seu primeiro nome? Hiram
qual o seu sobrenome? Amaral
seu nome completo é Hiram Amaral

In [25]:
mensagem1 = input(" Qual a primeira mensagem?")

mensagem2 = input(" Qual a mensagem 2?")

mensagem3 = input("Fale a mensagem3 ")

print(mensagem1 + " " + mensagem2 +" " + mensagem3)

 Qual a primeira mensagem?eu
 Qual a mensagem 2?vou
Fale a mensagem3 vencer
eu  vou  vencer

# Erro com input
se travar, use Kernel/ Restart

In [1]:
receita = input (" Insira o faturamento da empresa: ")
custo = input("insira o custo da empresa: ")

 Insira o faturamento da empresa: 133
insira o custo da empresa: 677